# Clocks
NET "CLK_50MHZ"        LOC="T8";
NET "CLK_50MHZ" IOSTANDARD = LVTTL;

# Misc
NET "TAPE_IN"      LOC="N14"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "TAPE_OUT"     LOC="M13"   | IOSTANDARD = LVCMOS33;
NET "BEEPER"       LOC="B16"   | IOSTANDARD = LVCMOS33;

# DAC
NET "DAC_LRCK"       LOC="C5"   | IOSTANDARD = LVCMOS33;
NET "DAC_DAT"       LOC="C4"   | IOSTANDARD = LVCMOS33;
NET "DAC_BCK"       LOC="A3"   | IOSTANDARD = LVCMOS33;
NET "DAC_MUTE"       LOC="A4"   | IOSTANDARD = LVCMOS33;

# UART
NET "ESP_RESET_N"      LOC="K6"  | IOSTANDARD = LVCMOS33;
NET "ESP_BOOT_N"      LOC="K5"  | IOSTANDARD = LVCMOS33;
NET "UART_RX"      LOC="J4"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "UART_TX"      LOC="J6"  | IOSTANDARD = LVCMOS33 | PULLUP;
NET "UART_CTS"      LOC="L5"  | IOSTANDARD = LVCMOS33;

# CF card
NET "WA<0>"            LOC="P9"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WA<1>"            LOC="P8"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WA<2>"            LOC="N8"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WCS_N<0>"            LOC="P6"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY | PULLUP;
NET "WCS_N<1>"            LOC="T6"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY | PULLUP;
NET "WRD_N"      LOC="P7"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY | PULLUP;
NET "WWR_N"      LOC="R7"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY | PULLUP;
NET "WRESET_N"      LOC="T7"  | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY | PULLUP;
NET "WD<0>"            LOC="R9"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<1>"            LOC="T9"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<2>"            LOC="T12"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<3>"            LOC="M5"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<4>"            LOC="R1"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<5>"            LOC="P5"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<6>"            LOC="N5"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<7>"            LOC="T5"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<8>"            LOC="P11"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<9>"            LOC="R12"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<10>"            LOC="T13"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<11>"            LOC="M4"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<12>"            LOC="R2"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<13>"            LOC="T4"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<14>"            LOC="R5"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "WD<15>"            LOC="N6"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;

# SRAM
NET "MA<0>"            LOC="L14"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<1>"            LOC="L13"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<2>"            LOC="K12"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<3>"            LOC="K11"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<4>"            LOC="J14"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<5>"            LOC="G14"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<6>"            LOC="J13"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<7>"            LOC="H13"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<8>"            LOC="J12"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<9>"            LOC="J11"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<10>"            LOC="H11"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<11>"            LOC="F13"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<12>"            LOC="G11"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<13>"            LOC="E13"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<14>"            LOC="F16"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<15>"            LOC="K14"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<16>"            LOC="K15"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<17>"            LOC="K16"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<18>"            LOC="L16"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<19>"            LOC="G12"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MA<20>"            LOC="M14"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<0>"            LOC="J16"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<1>"            LOC="H16"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<2>"            LOC="H15"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<3>"            LOC="H14"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<4>"            LOC="F15"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<5>"            LOC="F14"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<6>"            LOC="E16"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<7>"            LOC="E15"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<8>"            LOC="T15"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<9>"            LOC="T14"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<10>"            LOC="R16"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<11>"            LOC="R15"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<12>"            LOC="P16"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<13>"            LOC="P15"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<14>"            LOC="N16"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MD<15>"            LOC="M16"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MWR_N<0>"            LOC="G16"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MWR_N<1>"            LOC="R14"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MRD_N<0>"            LOC="D16"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "MRD_N<1>"            LOC="M15"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;

# SDRAM
NET "SDR_BA<0>"            LOC="M1"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_BA<1>"            LOC="N4"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<0>"            LOC="N3"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<1>"            LOC="P2"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<2>"            LOC="P1"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<3>"            LOC="P4"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<4>"            LOC="B1"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<5>"            LOC="C2"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<6>"            LOC="C1"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<7>"            LOC="F4"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<8>"            LOC="E4"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<9>"            LOC="D1"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<10>"            LOC="N1"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<11>"            LOC="D3"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_A<12>"            LOC="E3"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_CLK"            LOC="E1"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQM<0>"            LOC="L3"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQM<1>"            LOC="E2"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_WE_N"            LOC="L1"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_CAS_N"            LOC="M3"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_RAS_N"            LOC="M2"    | IOSTANDARD = LVCMOS33 | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<0>"            LOC="H2"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<1>"            LOC="H1"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<2>"            LOC="H4"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<3>"            LOC="J3"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<4>"            LOC="J1"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<5>"            LOC="K3"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<6>"            LOC="K2"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<7>"            LOC="K1"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<8>"            LOC="F2"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<9>"            LOC="F1"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<10>"            LOC="F3"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<11>"            LOC="G5"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<12>"            LOC="H5"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<13>"            LOC="G3"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<14>"            LOC="G1"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;
NET "SDR_DQ<15>"            LOC="H3"    | IOSTANDARD = LVCMOS33  | DRIVE = 4 | SLEW = "FAST" | NODELAY;

# SD
NET "SD_CS_N"       LOC="L4"   | IOSTANDARD = LVCMOS33;
NET "SD_DI"       LOC="L7"   | IOSTANDARD = LVCMOS33;
NET "SD_DO"       LOC="M7"   | IOSTANDARD = LVCMOS33 | PULLUP;
NET "SD_CLK"       LOC="L8"   | IOSTANDARD = LVCMOS33;
NET "SD_DET_N"       LOC="M6"   | IOSTANDARD = LVCMOS33 | PULLUP;

# FDD
NET "FDC_INDEX"       LOC="C13"   | IOSTANDARD = LVCMOS33;
NET "FDC_DRIVE<0>"       LOC="C16"   | IOSTANDARD = LVCMOS33;
NET "FDC_DRIVE<1>"       LOC="B14"   | IOSTANDARD = LVCMOS33;
NET "FDC_MOTOR"       LOC="C15"   | IOSTANDARD = LVCMOS33;
NET "FDC_DIR"       LOC="B15"   | IOSTANDARD = LVCMOS33;
NET "FDC_STEP"       LOC="A13"   | IOSTANDARD = LVCMOS33;
NET "FDC_WDATA"       LOC="D14"   | IOSTANDARD = LVCMOS33;
NET "FDC_WGATE"       LOC="A14"   | IOSTANDARD = LVCMOS33;
NET "FDC_TR00"       LOC="B12"   | IOSTANDARD = LVCMOS33;
NET "FDC_WPRT"       LOC="A12"   | IOSTANDARD = LVCMOS33;
NET "FDC_RDATA"       LOC="D12"   | IOSTANDARD = LVCMOS33;
NET "FDC_SIDE_N"       LOC="A11"   | IOSTANDARD = LVCMOS33;

# FT812
NET "FT_SPI_CS_N"       LOC="A6"   | IOSTANDARD = LVCMOS33 | PULLUP;
NET "FT_SPI_SCK"       LOC="A5"   | IOSTANDARD = LVCMOS33 | PULLUP;
NET "FT_SPI_MISO"       LOC="C6"   | IOSTANDARD = LVCMOS33 | PULLUP;
NET "FT_SPI_MOSI"       LOC="B6"   | IOSTANDARD = LVCMOS33;
NET "FT_INT_N"       LOC="B5"   | IOSTANDARD = LVCMOS33;
NET "FT_CLK"       LOC="D6"   | IOSTANDARD = LVCMOS33 | PULLUP;
NET "FT_OE_N"       LOC="G6"   | IOSTANDARD = LVCMOS33;

# VGA
NET "VGA_R<0>"       LOC="C7"   | IOSTANDARD = LVCMOS33;
NET "VGA_R<1>"       LOC="A7"   | IOSTANDARD = LVCMOS33;
NET "VGA_R<2>"       LOC="E7"   | IOSTANDARD = LVCMOS33;
NET "VGA_R<3>"       LOC="D8"   | IOSTANDARD = LVCMOS33;
NET "VGA_R<4>"       LOC="A8"   | IOSTANDARD = LVCMOS33;
NET "VGA_R<5>"       LOC="B8"   | IOSTANDARD = LVCMOS33;
NET "VGA_R<6>"       LOC="C8"   | IOSTANDARD = LVCMOS33;
NET "VGA_R<7>"       LOC="A9"   | IOSTANDARD = LVCMOS33;

NET "VGA_G<0>"       LOC="C9"   | IOSTANDARD = LVCMOS33;
NET "VGA_G<1>"       LOC="D9"   | IOSTANDARD = LVCMOS33;
NET "VGA_G<2>"       LOC="A10"   | IOSTANDARD = LVCMOS33;
NET "VGA_G<3>"       LOC="B10"   | IOSTANDARD = LVCMOS33;
NET "VGA_G<4>"       LOC="C10"   | IOSTANDARD = LVCMOS33;
NET "VGA_G<5>"       LOC="D5"   | IOSTANDARD = LVCMOS33;
NET "VGA_G<6>"       LOC="E6"   | IOSTANDARD = LVCMOS33;
NET "VGA_G<7>"       LOC="F5"   | IOSTANDARD = LVCMOS33;

NET "VGA_B<0>"       LOC="F7"   | IOSTANDARD = LVCMOS33;
NET "VGA_B<1>"       LOC="F9"   | IOSTANDARD = LVCMOS33;
NET "VGA_B<2>"       LOC="E8"   | IOSTANDARD = LVCMOS33;
NET "VGA_B<3>"       LOC="F10"   | IOSTANDARD = LVCMOS33;
NET "VGA_B<4>"       LOC="E10"   | IOSTANDARD = LVCMOS33;
NET "VGA_B<5>"       LOC="E11"   | IOSTANDARD = LVCMOS33;
NET "VGA_B<6>"       LOC="D11"   | IOSTANDARD = LVCMOS33;
NET "VGA_B<7>"       LOC="C11"   | IOSTANDARD = LVCMOS33;

NET "VGA_HS"        LOC="F12"  | IOSTANDARD = LVCMOS33;
NET "VGA_VS"        LOC="E12"  | IOSTANDARD = LVCMOS33;
NET "V_CLK"         LOC="F6"   | IOSTANDARD = LVCMOS33;

# MCU SPI
NET "MCU_SCK"       LOC="C3"   | IOSTANDARD = LVCMOS33;
NET "MCU_MOSI"      LOC="B3"   | IOSTANDARD = LVCMOS33;
NET "MCU_MISO"      LOC="B2"   | IOSTANDARD = LVCMOS33;
NET "MCU_CS_N"      LOC="A2"   | IOSTANDARD = LVCMOS33 | PULLUP;

NET "MCU_SCK" CLOCK_DEDICATED_ROUTE = FALSE;

# MIDI
NET "MIDI_TX"       LOC="L12"  | IOSTANDARD = LVCMOS33; # TP7
NET "MIDI_CLK"      LOC="M12"  | IOSTANDARD = LVCMOS33; # TP6
NET "MIDI_RESET_N"  LOC="L10"  | IOSTANDARD = LVCMOS33; # TP5

# MCU additional SPI lines to control FT, SD2, etc
NET "MCU_SPI_SD2_CS_N"      LOC="M9"   | IOSTANDARD = LVCMOS33 | PULLUP;
NET "MCU_SPI_FT_CS_N"      LOC="M10"   | IOSTANDARD = LVCMOS33 | PULLUP;

NET "MCU_SPI_IO<0>"       LOC="N9"   | IOSTANDARD = LVCMOS33;
NET "MCU_SPI_IO<1>"      LOC="M11"   | IOSTANDARD = LVCMOS33;

# SPI FLASH
NET "FLASH_CS_N"    LOC="T3"   | IOSTANDARD = LVCMOS33; # /CONF_CS
NET "FLASH_DO"      LOC="P10"  | IOSTANDARD = LVCMOS33; # CONF_IO1
NET "FLASH_DI"      LOC="T10"  | IOSTANDARD = LVCMOS33; # CONF_IO0
NET "FLASH_SCK"     LOC="R11"  | IOSTANDARD = LVCMOS33; # CONF_CLK
NET "FLASH_WP_N"    LOC="N12"  | IOSTANDARD = LVCMOS33; # CONF_IO2
NET "FLASH_HOLD_N"  LOC="P12"  | IOSTANDARD = LVCMOS33; # CONF_IO3

# Timings

NET "clk" TNM_NET = "clk";

TIMESPEC "TS_CLK" = PERIOD "clk" 21000 kHz;


